html {background:#000;}
body {font-family:'Roboto Condensed', sans-serif;}
.page_left {float:left;width:300px;}
.page_left ul { font-family:Impact,sans-serif;margin:0;list-style:none;}
.page_left ul a {color:#fff;font-size:42px; text-transform:uppercase; text-decoration:none;}
.page_left ul a:hover {color:#000;margin:0 0 0 10px;}
.container {width:1000px;margin:0 auto;}
.page_right {float:left;}