#footer { position:absolute;}
#bullet { display:none;}
#next_btn { display:none;}
#logo,#header,#nav_wrap { position:absolute;}
#logo {top:50px;}
#min_menu { position:absolute;right:0;}
#header {top:45px;}

#game_reg .reg_field span {text-indent:0;font-size:0;height:20px;}
#game_reg .reg_btn input {text-indent:0;font-size:0;}
#game_reg_weibo .reg_field span {text-indent:0;font-size:0;height:20px;}
#game_reg_weibo .reg_btn input {text-indent:0;font-size:0;}

#eta_text_wrap {top:650px;}
#section_eta .section_wrap {height:900px;}

.ie6info {position:absolute;top:0;width:100%;height:45px;line-height:30px;font-size:14px;font-weight:bold;text-align:center;background:#ed8264;color:#fff;}